services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: web
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    restart: unless-stopped

networks:
  default:
    driver: bridge